<!-- Nav tabs -->
<ul class="nav nav-tabs" id="navId">
  <li class="nav-item">
    <a  class="nav-link "    [routerLink]="['/jokes/programming']">Programing</a>
  </li>
  
  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/dark']">Dark</a>
  </li>

  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/celebrity']">celebrity</a>
  </li>
  
  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/dev']">dev</a>
  </li>

  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/explicit']">explicit</a>
  </li>

  <li class="nav-item">
    <a  class="nav-link "    [routerLink]="['/jokes/fashion']">fashion</a>
  </li>
  
  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/food']">food</a>
  </li>

  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/history']">history</a>
  </li>
  
  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/money']">money</a>
  </li>

  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/movie']">movie</a>
  </li>

  <li class="nav-item">
    <a  class="nav-link "    [routerLink]="['/jokes/music']">music</a>
  </li>
  
  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/political']">political</a>
  </li>

  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/religion']">religion</a>
  </li>
  
  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/science']">science</a>
  </li>

  <li class="nav-item">
    <a  class="nav-link " [routerLink]="['/jokes/sport']">sport</a>
  </li>

</ul>


<router-outlet></router-outlet>
